@using System.Web.UI.WebControls

<!DOCTYPE html>

<html>
<head>
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
        )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )

    <style type="text/css">
        html, body, form {  
            height: 100%;  
            margin: 0;  
            padding: 0;  
            overflow: hidden;  
        }
    </style>
</head>
<body>
    @Html.DevExpress().Dashboard(settings => {
        settings.ControllerName = "CustomDashboard";
        settings.Name = "Dashboard";
        settings.Width = Unit.Percentage(100);
        settings.Height = Unit.Percentage(100);
    }).GetHtml()
</body>
</html>
